*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvasContainer {
    width: 750px;
    height: 500px;
    position: relative;
    border: 1px solid black;
    /* background-image: url(../imgs/ocean.jpg);
    background-size: cover;  */
}

#paddleCanvas {
    position: absolute;
    z-index: 1;
}
#ballCanvas {
    position: absolute;
    z-index: 2;
}
#briksCanvas {
    position: absolute;
    z-index: 3;
}